/*Globais*/
*{
    box-sizing: border-box;
}
body{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

/*classes*/

/*geral*/
.limite{
    max-width: 1024px;
    margin: 0 auto;
}
.div{
    width: 100%;
    padding: 50px 20px;
}

/*Topo*/
.topo{
    padding: 20px 0;
    width: 100%;
    background-color: #040206;;
    text-align: center;
    border-bottom: 2px solid #302136;
}
.topo a{
    font-size: 28px;
    margin: 0 35px;
    color:white;
    text-decoration: none;
}

/*Banner*/
.banner{
    height: calc(100vh - 74px);
    background-image: url(img/capa.jpg);
    background-position: top center;
    background-size: cover;
}

/*Sinopse*/
.sinopse h1{
    font-size: 36px;
    text-align: center;
}
.sinopse h2{
    font-size: 28px;
    text-align: center;
    margin-top: 30px 0 50px;
}
.sinopse p{
    font-size: 20px;
    margin: 12px 0;
    line-height: 40px
}
/*Canais*/
.canais{
    background-color: #302136;
}

.canais h2{
    font-size: 28px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.canais img{
    width: 80%;
    margin: 0 auto 50px;
    display: block;
    border: 1px solid #fff;
    box-shadow: 0 0 10px 3px #fff ;
}
.canais p{
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}
/*Temporadas*/
.temporadas h2{
    font-size: 28px;
    margin: 0 auto 50px;
}
.conjunto-div div{
    margin:0 auto 40px;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0 0 10px 3px darkgray;
}
.sub-temporadas{
    padding: 20px;
    min-height: 160px;
}
.sub-temporadas h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.sub-temporadas p{
    font-size: 16px;
}
/*Imagens*/
.imagens{
    background-color: #302136;
}
.imagens h2{
    font-size: 28px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.imagens span{
    color: #fff;
    font-size: 20px;
}
.imagens img{
    max-height: 220px;
    margin: 25px 20px;
    width: auto;
    border: 1px solid #fff;
    box-shadow: 0 0 10px 3px #fff ;
}
.sub-imagens div{
    width: 100%;
    margin: 0 auto 20px;
    overflow: auto;
    display: block;
    white-space: nowrap;
}

/*Rodape*/
.rodape{
    width: 100%;
    padding: 40px 0;
    background-color: #302136;
    border-top: 1px solid #fff;
    box-shadow: 0 0 10px 2px #fff;
    margin: 0; 
}
.rodape h3{
    font-size: 16px;
    color: #fff;
    text-align: center;
}


/*Barra de rollagem*/
::-webkit-scrollbar {
	width: 15px;
	height: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f4f4f4;
}

::-webkit-scrollbar-track:hover {
	background-color: #b8c0c2;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #888888;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555555;
}